{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="vh-80 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">change password</h2>
                <p class="text-white-50 mb-5"></p>
         <form method='post' id='change-password-form' enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-outline form-white mb-4">
                  <input type="password" id="old-password" class="form-control form-control-lg" name="old_password"  placeholder="Old password" required/>
                  <label class="form-label" for="old_password"></label>
                  <input  type="hidden" class="form-control" name="username" value="{{users.username}}">

                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" id="new_pass" class="form-control form-control-lg" name="new_password" placeholder="new password" required />
                  <label class="form-label" id="new_pass"></label>
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="password" id="conform_pass" class="form-control form-control-lg" name="confirm_password"  placeholder="conform password" required/>
                    <label class="form-label" id="conform_pass" ></label>
                  </div>
                <button class="btn btn-outline-light btn-lg px-5" id='change-password-btn' type="submit">Change password</button>
                </form>
                <div style="font-size: large;text-align: center;" id="change-password-message"></div>

              </div>
  
              <div>
                
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#change-password-form').submit(function (event) {
            event.preventDefault(); // Prevent the default form submission
            
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/change_password/',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $('#change-password-message').text(response.message);
                    } else {
                        $('#change-password-message').text(response.message);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>



{% endblock%}