{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .leftlinkpanel
    {
    padding:10px;
    }
    .leftlink
    {
    padding:5px;
    border-bottom:1px solid #ccc;
    }
    .order-summary {
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        }
    
        .order-summary p {
        margin-bottom: 10px;
        font-size: 16px;
        color: #555;
        }
    
        .subtotal {
        font-weight: bold;
        color: #333;
        }
    
        .tax,
        .total {
        font-style: bold;
        color: #777;
        }
            </style>
            <div class="hero-area hero-bg">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-9 offset-lg-2 text-center">
                      <div class="hero-text">
                        <div class="hero-text-tablecell">
                                          <h1>Order Details</h1>
                        </div></div></div></div></div></div>
            
                        <div class="container">
                          <div class="row mt-3">
                              <div class="col">
                                  <div class="card">
                                      <div class="card-header">
                                          <div class="row">
                                              <div class="col">Product</div>
                                              <div class="col">Quantity</div>
                                              <div class="col">Price</div>
                                              <div class="col">Subtotal</div>
                                          </div>
                                      </div>
                                      <div class="card-body">
                                          {% for order_item in order_items_list %}
                                              <div class="row">
                                                  <div class="col">{{ order_item.product_id.title }}</div>
                                                  <div class="col">{{ order_item.quantity }}</div>
                                                  <div class="col">₹{{ order_item.product_id.price }}</div>
                                                  <div class="col">₹{{ order_item.product_id.price|floatformat:"2" }}</div>
                                              </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      
                          <div class="row mt-3">
                              <div class="col">
                                  <div class="card order-summary">
                                      <div class="card-body">
                                          <p class="card-text subtotal">Subtotal: ₹{{ order.subtotal }}</p>
                                          <!-- You may need to calculate tax and grand total based on your logic -->
                                          <p class="card-text tax">Tax: ₹{{ tax_formatted }}</p>
                                          <p class="card-text total">Total: ₹{{ order.total_price }}</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      {% endblock %}