
{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  /* Add your custom styles here */
  .form-control {
    height: 50px; /* Increase input height */
  }

  .btn-primary {
    width: 100%;
    max-width: 100%;
    height: 50px;
    margin-top: 10px;
  }
</style>

<div style="margin-top: 20px;margin-bottom: 20px;">
  <div class="container h-100" >
    <div >
          <div class="card-body p-md-5" style="background-color: #f0f0f0; border: 1px solid;margin-left: 40px;">
            <div class="row justify-content-center">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data" id="registration-form">
                  {% csrf_token %}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="username" class="form-control" placeholder="Username" name="username" required>
                      <label class="form-label" for="form3Example1c"></label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="forname" class="form-control" placeholder="Name" name="name" required>
                      <label class="form-label" for="form3Example1c"></label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="foremail" class="form-control" placeholder="Email" name="email" required>
                      <label class="form-label" for="form3Example3c"></label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <label>Are you a differently-abled person?:</label><br>
                        <label><input type="radio" name="choice" id="choice_1" value="yes"> yes</label>
                        <label><input type="radio" name="choice" id="choice_2" value="no"> no</label>
                    </div>
                </div>
                <div id="certificateInput" style="display: none;">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                            <input type="file" id="forcertificate" class="form-control" placeholder="certificate" name="certificate" required>
                            <label class="form-label" for="certificate"></label>
                        </div>
                    </div>
                </div>
                <div id="rollInput" style="display: none;">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                            <label>Are you a seller or a company?:</label><br>
                            
                            <label><input type="radio" name="roll" value="seller">Seller</label>
                            <label><input type="radio" name="roll" value="user" checked>User</label>
                            <label><input type="radio" name="roll" value="company">Company</label>
                        </div>
                    </div>
                </div>
                          
                  <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input id="forimg" type="file"  class="form-control" placeholder="Image" name="image" >
                        <label class="form-label" for="pic">your photo</label><br>
                        <img id="profilepic" src="" width="200px" height="200px" style="display: none;" >
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="foradress" class="form-control" placeholder="Address" name="address" required>
                        <label class="form-label" for="form3Example3c"></label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="forplace" class="form-control" placeholder="Place" name="place" required>
                        <label class="form-label" for="form3Example3c"></label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="forcountry" class="form-control" placeholder="Country" name="country" required>
                        <label class="form-label" for="form3Example3c"></label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="fordistrict" class="form-control" placeholder="District" name="district" required>
                        <label class="form-label" for="form3Example3c"></label>
                      </div>
                    </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="forpassword" class="form-control" name="password" placeholder="password" required>
                      <label class="form-label" for="form3Example4c"></label>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>
                </form>
                <div id="reg" style="margin-left: 50px;"></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
 


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('input[name="choice"]').on('change', function() {
    if ($(this).val() === 'yes') {
      $('#certificateInput').show();
      $('#forcertificate').prop('required', true);

      $('#rollInput').show();
      $('input[name="roll"]').prop('required', true);

      // Show both 'seller' and 'company' radio buttons
      $('input[name="roll"]').parent().show();
    } else {
      $('#certificateInput').hide();
      $('#forcertificate').prop('required', false);

      $('#rollInput').show();
      $('input[name="roll"]').prop('required', false);

      $('input[name="roll"][value="seller"]').parent().hide();
    }
  });

  $('input[name="choice"]:checked').trigger('change');

    $('#registration-form').on('submit', function(event) {
      event.preventDefault();

      if ($('input[name="choice"]:checked').val() === 'no' && !$('input[name="roll"][value="company"]').prop('checked')) {
        $('input[name="roll"]').val('user');
      }

      var formData = new FormData(this);

      $.ajax({
        type: 'POST',
        url: 'register',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          $('#reg').text(response.message);
          window.location.href = '/user_login';
        },
        error: function(response) {
          $('#reg').text(response.responseJSON.error);
        }
      });
    });
  });
  
  $('#forimg').on('change', function () {
    var input = this;

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        // Update the preview image src attribute
        $('#profilepic').attr('src', e.target.result).show();
      };

      reader.readAsDataURL(input.files[0]);
    }
  });
</script>

{% endblock %}